#tags{
    margin: 60px;
}
#header{
    position: relative;
    background-color: yellow;
    width: 2400px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#sectionEsquerdo{
    position: relative;
    background-color: aqua;
    width: 700px;
    height: 700px;
}
#sectionDireito{
    position: absolute;
    background-color: blueviolet;
    top: 210px;
    left: 768px;
    width: 1700px;
    height: 700px;
}
#nav{
    position: absolute;
    background-color: white;
    top: 240px;
    left: 90px;
    width: 660px;
    height: 300px;
}
#aside{
    position: absolute;
    background-color: white;
    top: 570px;
    left: 90px;
    width: 660px;
    height: 300px;
}
#article{
    position: absolute;
    background-color: white;
    top: 240px;
    left: 780px;
    width: 1675px;
    height: 670px;
    font-size: 20px;
}
#h1{
    position: absolute;
    background-color: aquamarine;
    top: 240px;
    left: 780px;
    width: 1675px;
    text-align: center;
}
#p{
    position: absolute;
    background-color: brown;
    top: 300px;
    left: 780px;
    width: 1675px;
    height: 220px;
}
#div{
    position: absolute;
    background-color: rgb(194, 163, 219);
    top: 550px;
    left: 780px;
    width: 1675px;
    height: 340px;
}
#footer{
    position: relative;
    background-color: rgb(95, 66, 66);
    width: 2400px;
    height: 140px;
    font-size: 30px;
}
